################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/NuGetGhostDetector/obj
/.vs/NuGetGhostDetector.slnx/FileContentIndex
